 @media only screen and (max-width: 925px){
    .hero-image{
        display:none;
    }

    .hello-section{
        min-height:500px;
        background-image: url(../img/bubble.png);
        background-repeat: no-repeat; 
        background-size: contain;
        background-position: calc(50% - 20px) calc(50% + 40px) ;
    }

    .nav-item{
        margin: 0 30px;
    }

    


 @media only screen and (max-width: 768px){

    .burger-menu{
        display:block;
        z-index:300;
    }

    
    .nav-content{
        background-color: white;
        height:100vh;
        width:100vw;
        max-width:unset;
        position:fixed;
        top:0;
        left:100vw;
        
        padding:0px;
        
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        z-index:200;
        transition:transform 0.4s;

    }

    .nav-item{
        font-size:2em;
        width:70%;
        padding:20px 0;
        position:relative;
    }
    .nav-item::before{
        content:'';
        visibility:visible;
        transform:unset;
        width:90px;
        position: absolute;
        height: 20px;
        bottom: 20px;
        left: 30vw;
        background-color: rgb(238, 205, 205);
        z-index:-1;
        border-radius: unset;
    }

    .nav-item:hover::before{
        transform:scaleY(0.4);
        transform-origin: top;
        bottom: 8px;
    
        background-color:rgb(184, 154, 154);
    }

    .nav-item>a{
        width:70%;
        height:100%;
        transition:all 0.2s ease-out;
    }

    /* .nav-item a:hover{
        transform:translateX(10px);
        text-shadow: 1px 0px 6px #7FA8B0;
    } */

    /* .nav-item:hover:before,
    .nav-item:focus:before{
        visibility:hidden;
    } */

    .section{
        height:unset;
    }

    .info-div{
        margin-top:20px;
    }

    .hello-section{
        background-size: 110% 70%;
    }

    .hello-section-items{
        width:90%;
    }

    
    .about-me-section,.contact-section{
        flex-wrap:wrap;
    }

    .offer-section{
        flex-wrap:wrap-reverse;
        margin-top:30px;
    }


    
    
    .reviews-header{
        text-align:left;
        align-self:flex-start;
    }
    
    form{
        padding-left:10px;
    }

    
 }

 @media only screen and (max-width: 600px){
    .step-img{
        background-size:70%;
    }

    .step-text h1{
        font-size:1.5rem;
    }

    p.info{
        font-size:1.2rem;
    }

    .info-div p{
        font-size:1rem;
    }
 }
 @media only screen and (max-width: 520px){

    .main-section{
        min-height:500px;
    }

    .nav-item{
        font-size:1.5rem;
        padding:10px;
    }

    .nav-item::before{
        width:60px;
        height: 15px;
        bottom: 10px;
        left: 28vw;
        
    }

    .nav-item:hover::before{
        transform:scaleY(0.4);
        bottom: 6px;
    
        background-color:rgb(184, 154, 154);
    }

    /* .nav-item::before{
        background-color:white;
    } */


    .about-me-section{
        margin-top:50px;
        
    }

    .hello-section{
        background-position: calc(50% - 20px) calc(50% + 30px);
        background-size:130% 50%;
    }
    

    .school-title{
        font-size:2rem;
    
    }
    
    .hello-header{
        text-align:center;
        font-size:2em;
    }
    
    .hello-section-items p:first-of-type{
        font-size:1.5em;
        text-align: center;
    }

    p.info{
        font-size:1rem;
    }
    
    .photo-div{
        min-height:unset;
        height:400px;
    }

    .reviews-wrapper{
        padding:5px;
        width:100%;
    }
    .review{
        flex-basis:90%;
    }

    

    .info-header{
        
        font-size:1.5rem;
    }
    

    .contact-form-header{
        font-size:1.5em;
    }

    form{
        padding:20px;
        display:flex;
        flex-direction: column;
        align-items:center;
    }
    label:not([for="agreement"]){
        width:70%;
        max-width:500px;
    }


    .foot{
        padding-top:20px;
        height:60px;
        box-sizing:content-box;
    }

    .footer-graphic{
        display:none;
    }

    .foot-info{
        max-width:250px;
        position:static;
        margin:0 auto;
        
    }

 }

 @media only screen and (max-width: 360px){
    .hello-header{
        text-align:center;
        font-size:1.5rem;
    }
    
    .hello-section-items p:first-of-type{
        font-size:1em;
        text-align: center;
    }

    .school-title{
        font-size:1.5rem;
    }

    .hello-section{
        background-size:120% 50%;
    }

    .step.even{
        flex-wrap:wrap-reverse;
    }

    .step.odd{
        flex-wrap:wrap;
        background-color:rgb(236, 236, 236);
    }

    .step-text{
        background-color: unset;
    }
    .step-img{
        height:40px;
        box-sizing:content-box;
        background-origin:content-box;
        padding-top:40px;
        padding-bottom:20px;
        background-size:contain;
    }
    .info-header{
        
        font-size:1.2rem;
    }

    .contact-form-header{
        font-size:1.2em;
    }

    label{
        font-size:1rem;
    }

 }

 @media only screen and (max-width: 290px){
     body{
         font-size:14px;
     }
 }

 @media only screen and (hover:none){
    .nav-item:hover:before, .nav-item:focus:before,
    .hello-section-items .button:hover:before,
  .hello-section-items .button:focus:before {
        visibility:hidden;
    }

    .hello-section-items .button{
        display:none;
    }
 }


 @media only screen and (orientation:portrait) and (min-width:1000px){
     .main-section{
        flex-wrap:wrap;
     }
     .hello-section{
        min-height:500px;
        background-image: url(../img/bubble.png);
        background-repeat: no-repeat; 
        background-size: contain;
        background-position: calc(50% - 20px) calc(50% + 40px) ;
    }
     .hero-image{
         display:none;
     }

     .hello-section{
        min-height:700px;
    }

 }